@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap");
.btn {
  text-transform: none;
  width: 100%;
}
.input {
  width: 100%;
}

@media (min-width: 768px) {
  .bg-forgot-password {
    background-image: url("../images/forgotPasswordBg.png");
  }
}
